@import url("reset.css");
section {
  margin-top: 5%;
  margin-bottom: 20%; }

body {
  font-family: georgia;
  font-size: 1em;
  margin: 5%; }

.global {
  background-color: #999;
  width: 100%;
  max-width: 320px;
  height: 1700px; }

.banner {
  padding: 5%; }

img {
  float: left;
  margin: 4% 0; }

li {
  background-color: #555;
  padding: 4%;
  float: left;
  list-style: none;
  text-align: center;
  font-size: .94em;
  margin: 12% 3.5%; }

a {
  text-decoration: none;
  color: black; }

.aboutme {
  padding: 15%;
  margin-top: 30%; }

.projectlinks {
  background-color: #555;
  padding: 2% 10%;
  list-style: none;
  text-align: center;
  font-size: 1.2em;
  margin-left: 6%; }

.latestproject {
  padding: 10%;
  margin-top: 20%;
  text-align: center; }

.pastproject {
  padding: 10%;
  margin-top: 20%;
  text-align: center; }

.socialmedia {
  margin-top: 15%;
  float: right; }

.medium {
  background-color: #999;
  width: 100%;
  width: 980px;
  height: 1880px; }

header {
  font-family: georgia;
  font-size: 2em;
  margin: 5%; }

.banner2 {
  padding: 5%;
  font-size: 1.3em; }

.aboutme2 {
  width: 80%;
  height: 80%;
  padding: 15% 5%;
  margin-top: 50px; }

.projectlinks2 {
  background-color: #555;
  padding: 2% 10%;
  list-style: none;
  text-align: center;
  font-size: 1.2em;
  float: left; }

.latestproject2 {
  margin-top: 20%;
  text-align: center; }

.pastproject2 {
  margin-top: 20%;
  text-align: center; }

h4 {
  font-family: georgia;
  font-size: 2em;
  margin-top: 20%;
  margin-left: 10%;
  float: left; }

.socialmedia2 {
  margin-top: 20%;
  float: right; }

.large {
  background-color: #999;
  width: 1024px;
  height: 2024px; }

header {
  font-family: georgia;
  font-size: 2em;
  margin: 5%; }

.banner3 {
  padding: 5%;
  font-size: 1.8em; }
  .banner3 ul {
    margin-left: 30%; }
    .banner3 ul li {
      margin-right: 5%; }

.aboutme3 {
  width: 80%;
  height: 80%;
  padding: 15% 5%;
  margin-top: 50px; }
  .aboutme3 p {
    font-size: 1.5em; }

.projectlinks3 {
  background-color: #555;
  padding: 2% 10%;
  list-style: none;
  text-align: center;
  font-size: 1.4em;
  float: left; }

.latestproject3 {
  margin-top: 20%;
  text-align: center; }

.pastproject3 {
  margin-top: 20%;
  text-align: center; }

h5 {
  font-family: georgia;
  font-size: 2em;
  margin-top: 20%;
  margin-left: 10%;
  float: left; }

.socialmedia3 {
  margin-top: 20%;
  float: right; }

@media screen and (min-width 32em) {
  .medium {
    background-color: #999;
    width: 100%;
    width: 980px;
    height: 1880px; }

  header {
    font-family: georgia;
    font-size: 2em;
    margin: 5%; }

  .banner2 {
    padding: 5%;
    font-size: 1.3em; }

  .aboutme2 {
    width: 80%;
    height: 80%;
    padding: 15% 5%;
    margin-top: 50px; }

  .projectlinks2 {
    background-color: #555;
    padding: 2% 10%;
    list-style: none;
    text-align: center;
    font-size: 1.2em;
    float: left; }

  .latestproject2 {
    margin-top: 20%;
    text-align: center; }

  .pastproject2 {
    margin-top: 20%;
    text-align: center; }

  h4 {
    font-family: georgia;
    font-size: 2em;
    margin-top: 20%;
    margin-left: 10%;
    float: left; }

  .socialmedia2 {
    margin-top: 20%;
    float: right; } }
@media screen and (min-width 64em) {
  .large {
    background-color: #999;
    width: 1024px;
    height: 2024px; }

  header {
    font-family: georgia;
    font-size: 2em;
    margin: 5%; }

  .banner3 {
    padding: 5%;
    font-size: 1.8em; }
    .banner3 ul {
      margin-left: 30%; }
      .banner3 ul li {
        margin-right: 5%; }

  .aboutme3 {
    width: 80%;
    height: 80%;
    padding: 15% 5%;
    margin-top: 50px; }
    .aboutme3 p {
      font-size: 1.5em; }

  .projectlinks3 {
    background-color: #555;
    padding: 2% 10%;
    list-style: none;
    text-align: center;
    font-size: 1.4em;
    float: left; }

  .latestproject3 {
    margin-top: 20%;
    text-align: center; }

  .pastproject3 {
    margin-top: 20%;
    text-align: center; }

  h5 {
    font-family: georgia;
    font-size: 2em;
    margin-top: 20%;
    margin-left: 10%;
    float: left; }

  .socialmedia3 {
    margin-top: 20%;
    float: right; } }

/*# sourceMappingURL=style.css.map */
